<div class="container">
  <div class="row">
    <%= render "users/shared/errors" %>
    <div class="col-xs-4">
      <h1>Account Login</h1>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <label for="<%= :email %>">Email address or username</label>
          <%= f.text_field :login, autofocus: true, class: "form-control" %>
        </div>
        
        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        </div>
        
        <% if devise_mapping.rememberable? -%>
        <div class="input-group form-group">
          <span class="input-group-addon">
            <%= f.check_box :remember_me %>
          </span>
          <%= f.label :remember_me, class: "form-control" %>
        </div>
        <% end %>
        
        <div class="form-group">
          <%= f.submit "Log in", class: "form-control" %>
        </div>
      <% end %>
      
      <%= render "users/shared/links" %>
    </div>
  </div>
</div>