<h1>Editing Deck</h1>

<script>
  var deck_array = [];
  $(document).ready(function(){
    
    var deck_string = '<%= raw @deck.contents %>';
    if(deck_string){
      deck_array = JSON.parse(deck_string);
    }
  });
</script>

<%= render 'form' %>


<%= link_to 'Analyze', analyze_path(@deck) %> |   
<%= link_to 'Show', @deck %> |
<%= link_to 'Back', decks_path %>
