<div class="container" ng-app="ng_app_deck_test">
  <div class="row" ng-controller="ng_c_deck_list">
    <div class="col-xs-5">
      <h1><%= @deck.name %></h1>
      <ul class="deck_list">
        <li ng-repeat="card in deck" class="card {{ card.type.toLowerCase() }}" card_quantity="{{ card.quantity }}" card_name="{{ card.name }}" ng-cloak>
          {{ card.quantity }} {{ card.name }}
        </li>
      </ul>
    </div>
  </div>
  <%= link_to 'Analyze', analyze_path(@deck) %> | 
  <%= link_to 'Edit', edit_deck_path(@deck) %> |
  <%= link_to 'Back', decks_path %>
</div>



<script>
  
  var deck_array = <%= raw @deck.contents %>;
  
</script>