<!DOCTYPE html>
<html>
<head>
  <title>DeckTester</title>
  <%= stylesheet_link_tag 'application', params[:controller], media: 'all' %>
  
  <%= javascript_include_tag 'application', params[:controller] %>
  
  
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>


  <%=
    # include controller-action JS if it exists
    if( not DeckTester::Application.assets.find_asset(params[:controller] + '-' + params[:action] + '.js').nil? )
      javascript_include_tag params[:controller] + '-' + params[:action]
    end
  %>
</body>
</html>
